body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-title {
    text-align: center;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: .5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions {
    display: flex;
    justify-content: space-evenly;
}

.form-actions button,
.btn {
    background-color: rgb(207, 123, 13);
    font: inherit;
    border: 1px solid rgb(207, 123, 13);
    border-radius: 3px;
    padding: .25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .26);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background-color: rgb(182, 108, 12);
    border: 1px solid rgb(182, 108, 12);
}